<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main_bg">
    <h1 class="main_title">Change Password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form_desgn">
    <div class="fields">
    <ion-item lines="full">
      <ion-input
        label="Current Password"
        labelPlacement="floating"
        placeholder="current password"
        [type]="showOld ? 'text' : 'password'"
        formControlName="old_password"
        label-placement="floating">
      </ion-input>
      <ion-icon
        [name]="showOld ? 'eye-off' : 'eye'"
        slot="end"
        class="eye-icon"
        (click)="togglePassword('old')">
      </ion-icon>
    </ion-item>
    <ion-text *ngIf="old_password()?.touched && old_password()?.invalid" color="danger">
      Current password is required
    </ion-text>

    <ion-item lines="full">
      <ion-input
        label="New Password"
        labelPlacement="floating"
        placeholder="new password"
        [type]="showNew ? 'text' : 'password'"
        formControlName="new_password"
        label-placement="floating">
      </ion-input>
      <ion-icon
        [name]="showNew ? 'eye-off' : 'eye'"
        slot="end"
        class="eye-icon"
        (click)="togglePassword('new')">
      </ion-icon>
    </ion-item>
      <div *ngIf="new_password()?.touched && new_password()?.invalid" color="danger">
            <ion-text *ngIf="new_password()?.errors?.['required']" color="danger">New password is required.</ion-text>
            <ion-text *ngIf="new_password()?.errors?.['sameAsOld']" color="danger">New password must be different from the current password.</ion-text>
            <ion-text *ngIf="!new_password()?.errors?.['sameAsOld'] && new_password()?.errors?.['minlength'] " color="danger"> Password must be at least 6 characters long. </ion-text>
            <ion-text *ngIf="!new_password()?.errors?.['sameAsOld'] && new_password()?.errors?.['pattern'] " color="danger"> Must include at least one uppercase letter and one number. </ion-text>
        <!-- <ion-text *ngIf="new_password()?.touched && new_password()?.invalid" color="danger">
          <ng-container *ngIf="new_password()?.errors?.['required']">
            New password is required.
          </ng-container>

          <ng-container *ngIf="new_password()?.errors?.['sameAsOld']">
            New password must be different from the current password.
          </ng-container>

          <ng-container *ngIf="!new_password()?.errors?.['sameAsOld'] && new_password()?.errors?.['minlength']">
            Password must be at least 8 characters long.
          </ng-container>

          <ng-container *ngIf="!new_password()?.errors?.['sameAsOld'] && new_password()?.errors?.['pattern']">
            Must include at least one uppercase letter and one number.
          </ng-container>
        </ion-text> -->
      </div>

    <!-- CONFIRM PASSWORD -->
    <ion-item lines="full">
      <ion-input
        label="Confirm New Password"
        placeholder="confirm new password"
        labelPlacement="floating"
        [type]="showConfirm ? 'text' : 'password'"
        formControlName="confirm_password"
        label-placement="floating">
      </ion-input>
      <ion-icon
        [name]="showConfirm ? 'eye-off' : 'eye'"
        slot="end"
        class="eye-icon"
        (click)="togglePassword('confirm')">
      </ion-icon>
    </ion-item>
    <div *ngIf="confirm_password()?.touched && confirm_password()?.invalid">
      <ion-text color="danger" *ngIf="confirm_password()?.errors?.['required']">Confirm password is required.</ion-text>
      <ion-text color="danger" *ngIf="confirm_password()?.errors?.['mismatch']">New password and confirm password do not match.</ion-text>
    </div>

    <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid || isSubmitting">
      {{ isSubmitting ? 'Saving...' : 'Change Password' }}
    </ion-button>
    </div>
  </form>
</ion-content>


