.bank_single {
    padding: 10px 15px 10px 9px;
    margin: 0 15px 6px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
}

.bank_single p {
    margin: 0 0 7px;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    gap: 13px;
    justify-content: flex-start;
    position: relative;
}

.bank_single p>span:first-child {
    font-weight: bold;
    width: 52px !important;
    position: absolute;
    padding: 0;
    color: #FF9800;
}

.bank_single p >span {
    padding-left: 65px;
}

.form_area {
    margin-top: 13px;
}

.form_area .form_fields {
    margin: 0 19px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}



.form_area .form_fields div>ion-text {
    color: red;
    font-size: 14px;
    display: block;
    text-align: left;
    line-height: 27px;
    background: #ffffff;
    padding: 0 15px;
}

.btn_area {
    display: flex;
    margin: 10px 19px;
    gap: 10px;
}

.btn_area>div {
    flex: 1;
}
.add_new_bank_btn{
    margin: 0 15px;
}
ion-button{
    color: #fff;
}
