.profile_img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.profile_img >div {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    box-shadow: 0 6px 3px #00000029;
}

.profile_img >h3 {
    color: #ff6918;
    font-size: 15px;
    margin: 7px 0;
    text-shadow: 0 2px 2px #0808083d;
    font-weight: bold;
}

.details>div {
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px dotted #ddd;
    color: #636363;
    text-transform: capitalize;
}

.details>div>div {
    flex: 1;
}

.details {
    margin: 18px;
}

.details>div:last-child {
    border: 0;
}

.details>div>div:first-child {
    position: relative;
    color: #ff6d17;
}

.details>div>div:first-child:after {
    content: ":";
    position: absolute;
    right: 9px;
    color: #000;
    font-weight: bold;
}

.meber h2 {
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    margin: 9px;
    color: #656565;
}
