.errors_danger {
    color: red;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    background-color: #ff000047;
    letter-spacing: 1px;
}
.first_box{
    padding: 10px 15px;
    transition: all ease .5s;
}
