<!-- <ion-header style="display: none;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{acc_detail?.type}} Transactions</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="back_btn" (click)="back_btn()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{acc_detail?.type}} Transactions</ion-title>

   </ion-toolbar>

   <ion-list *ngIf="acc_detail?.type ==='Deposit Loan' || acc_detail?.type ==='FD' || acc_detail?.type ==='Saving' || acc_detail?.type === 'Personal Loan' || acc_detail?.type === 'Property Loan' || acc_detail?.type === 'Gold Loan'">
    <div class="balance">
        Balance:
      <span *ngIf="balance" class="amount">

        {{balance | currency:'INR'}}
      </span>
      <ion-button color="secondary" size="small" *ngIf="!balance"  (click)="check_balanece(acc_detail)">Check</ion-button>
    </div>
  </ion-list>
</ion-header>


<ion-content [fullscreen]="true" class="trns_body">
  <div class="testing">
    <div *ngIf="acc_detail?.type !='FD'" class="ion-padding">
      <ion-button color="secondary" (click)="setOpen(true)" expand="block">Download Statement</ion-button>
    </div>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Download Statement</ion-title>
            <ion-buttons slot="end">
              <ion-button class="close_btn" (click)="setOpen(false)"><ion-icon name="close"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form  [formGroup]="monthForm" (ngSubmit)="paySubmit()" class="form_desgn">
            <ion-radio-group value="custom_checked" formControlName="months">
              <div>
                <ion-radio value="1" >1 Month</ion-radio>
              </div>
              <div>
                <ion-radio value="3">3 Months</ion-radio>
              </div>
              <div>
                <ion-radio value="6">6 Months</ion-radio>
              </div>
            </ion-radio-group>
          <ion-button size="default" expand="block" color="secondary" class="btn_color" [disabled]="this.monthForm.status == 'INVALID'" type="submit">
              <ion-icon name="Download"></ion-icon> &nbsp;
            Download</ion-button>

          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>





  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <div *ngIf="all_transactions.data" class="ion-padding">


      <div *ngFor="let trns of all_transactions.data" class="trns_list" [ngClass]="trns.transaction_type == 'debit'? 'red' : 'green'"   >
          <div>
            <div>
              <fa-icon  [icon]="['far', 'clock']" slot="start"></fa-icon >
              {{trns.transaction_date | date}}
            </div>
            <div *ngIf="trns.message">
              <fa-icon  [icon]="['far', 'message']" slot="start"></fa-icon >
                {{trns.message}}
              </div>

          </div>
            <div>{{trns.amount | currency:'INR':'symbol':'.2-2' }}  </div>
      </div>

    </div>
    <div *ngIf="!all_transactions.data">
        No data
    </div>


</ion-content>
