.trns_body{
    --background: #f2f2f2;
}

.trns_list {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    font-weight:  bold;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 7px 13px #cdcdcd;
    color: #000;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        width: 125px;
        height: 105px;
        position: absolute;
        right: -44px;
        z-index: 1;
        transform: rotate(-124deg);
        background: radial-gradient(rgb(205 249 255 / 0%), rgb(229 229 229));
    }
    & > *{
        position: relative;
        z-index: 9;
    }

}

.trns_list>div:first-child {font-size: 14px; font-weight: normal;

    fa-icon{
        color: gray;
    }
    div:first-child{
        margin-bottom: 10px;
    }
    div:last-child{
       padding-left: 20px;
       position: relative;
       fa-icon{
            color: goldenrod;
            position: absolute;
            left: 0;
        }
    }

}
.trns_list>div:last-child {font-size: 14px; font-weight: bold;}


.red>div:last-child{ color: red;}
.green>div:last-child{ color: green}


.balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: linear-gradient(45deg, #FF5722, #FF9800) !important;
    color: #fff;
    height: 67px;
}

.balance>spam {flex: 1;}

.balance>.amount {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
}

ion-toolbar {
    height: 51px;
}
.list-md{
    padding-top:0 !important ;
    padding-bottom:0 !important ;
}
