<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pay EMI</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main_bg" >


  <div style="margin: 10px 15px 0;" *ngIf="error" class="errors_danger">{{error | titlecase }}</div>

  <h1 class="main_title">Pay installments and EMI</h1>

  <form  [formGroup]="payForm" (ngSubmit)="paySubmit()" class="form_desgn">
    <div class="fields">

      <ion-item lines="full"
  *ngIf="clientInfo.data">

    <ion-select
    label-placement="floating"

    label="Choose payable service"
    formControlName="service"
    placeholder="Pay For"
    >
      <div *ngFor="let item of clientInfo.data">
        <!-- <ion-item-option>tessdfdsf</ion-item-option> -->
        <ion-select-option  *ngIf="item.ac_type !== 'Saving' && item.ac_type !== 'FD'"  value="{{item.id +','+ item.ac_type}}">{{item.ac_type}} A/c: {{item.account_number}} </ion-select-option>
      </div>

    </ion-select>

  </ion-item>
    <div *ngIf="service()?.touched && service()?.invalid">
      <ion-text *ngIf="service()?.errors?.['required']" color="danger">Field is Required</ion-text>
    </div>
  <ion-item lines="full">
    <ion-input
    labelPlacement="floating"
      label="Enter Amount"
      type="number"
      onKeyPress="if(this.value.length==7) return false;"
      formControlName="amount"

     >
    </ion-input>
  </ion-item>

  <div *ngIf="amount()?.touched && amount()?.invalid">
    <ion-text *ngIf="amount()?.errors?.['required']" color="danger">Amount is Required</ion-text>
    <ion-text *ngIf="amount()?.errors?.['min_val']" color="danger">Zero not allowed</ion-text>
    <ion-text *ngIf="amount()?.errors?.['mix_val']" color="danger">Can not pay more then 1000000 </ion-text>

  </div>
    </div>
  <br>
  <ion-button size="default" expand="block" color="secondary" class="btn_color" [disabled]="this.payForm.status == 'INVALID'" type="submit">Pay Now</ion-button>

  </form>



</ion-content>
