<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="error" class="errors_danger">{{error | titlecase }}</div>

  <form  [formGroup]="tranferForm" (ngSubmit)="transferSubmit()">
  <ion-item >

    <ion-select label="Choose Transfer Type"
    formControlName="type"
    placeholder="Pay For"
    >
        <ion-select-option value="bank" > Saving To Dev Saving </ion-select-option>
        <ion-select-option value="other"> Saving To Other Bank </ion-select-option>

    </ion-select>

  </ion-item>

  <ion-item *ngIf="saving_input">
    <ion-input label="Enter Dev Saving A/C"
    type="text"
    maxlength="6"
     formControlName="s_account"
     >
    </ion-input>
    <span *ngIf=" s_account()?.valid ">
      <ion-button  color="success" (click)="verify_accont()">Check</ion-button>
    </span>
  </ion-item>

  <div *ngIf="s_account()?.touched && s_account()?.invalid">
    <ion-text *ngIf="s_account()?.errors?.['required']" color="danger">Account is required</ion-text>
    <ion-text *ngIf="s_account()?.errors?.['maxlength']" color="danger">The account number should be 6 characters long.</ion-text>
    <ion-text *ngIf="s_account()?.errors?.['minlength']" color="danger">The account number should be 6 characters long.</ion-text>
  </div>

  <div *ngIf="reciver_detail">
      <div> Name: {{reciver_detail.name}}</div>
      <div> Mobile: {{reciver_detail.mobile}}</div>
  </div>
  <ion-item *ngIf="bank_input">

    <ion-select label="Choose Associative Bank"
    formControlName="bank"
    >
    <div *ngFor="let item of banks">

      <ion-select-option   value="{{item.id }}">Name: {{item.name}} <br> AC: {{item.account_number}} </ion-select-option>
    </div>

    </ion-select>
  </ion-item>
  {{bank()?.valid| json}}
  <div *ngIf="bank()?.touched && bank()?.invalid">
    <ion-text *ngIf="bank()?.errors?.['required']" color="danger">Bank is required</ion-text>

  </div>



  <ion-item >
    <ion-input label="Enter Amount"
    type="number"
     formControlName="amount"
     onKeyPress="if(this.value.length==7) return false;"
     >
  </ion-input>
</ion-item>
<div *ngIf="amount()?.touched && amount()?.invalid">
  <ion-text *ngIf="amount()?.errors?.['required']" color="danger">Amount is Required</ion-text>
  <ion-text *ngIf="amount()?.errors?.['min_val']" color="danger">Minimum transfer amount should be greater than {{ 999 | currency:'INR':'symbol':'.2-2'}}</ion-text>
  <ion-text *ngIf="amount()?.errors?.['mix_val']" color="danger">Can not pay more then 1000000 </ion-text>

</div>
  <ion-button size="small" [disabled]="this.tranferForm.status == 'INVALID'" type="submit">Transfer</ion-button>
  </form>


</ion-content>
