ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }

  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  ion-menu.md ion-list {
    padding: 0 0 20px;
  }

  ion-menu.md ion-note {
    margin-bottom: 30px;
  }

  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }


  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;

    min-height: 20px;
  }

  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;

    margin-bottom: 18px;

    color: #757575;

    min-height: 26px;
  }

  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }

  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }

  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }

  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }

  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }

  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }

  ion-menu.ios ion-list {
    padding: 0;
  }

  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }

  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }

  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }

  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }

  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }

  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }

  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }

  ion-note {
    display: inline-block;
    font-size: 16px;

    color: var(--ion-color-medium-shade);
  }

  ion-item.selected {
    --color: var(--ion-color-primary);
  }

  ion-header{
    padding-top:56px ;
  }
  .toast-button-group {
    border-left: 1px solid #6f9b3c;
}

.profile {
  padding: 20px;
  display: flex;
  // border-bottom: 1px solid #25638f;
  margin-bottom: 15px;
  gap: 20px;
  align-items: center;
}

.profile h2 {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.profile>div:first-child {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  overflow: hidden;
  border: 5px solid #FFC107;
  box-sizing: border-box;
  background: var(--ion-color-primary);
}

.profile a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.spinner {

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner ion-spinner {
    width: 99px;
  height: 81px;
}

ion-content.menu_bar.md.content-ltr.hydrated {
  --background: linear-gradient(45deg, #fb9949, #fb6e23);

}

ion-content.menu_bar.md.content-ltr.hydrated> ion-list {
  background: transparent;
}

ion-content.menu_bar.md.content-ltr.hydrated> ion-list ion-item{
  --background:transparent;
  color: #fff
}

ion-content.menu_bar.md.content-ltr.hydrated> ion-list ion-item ion-icon{
    color: #fff
}

ion-item.item.md.item-lines-none.item-fill-none.in-list.ion-activatable.ion-focusable.hydrated.item-label.selected {
  color: #fff;
  background: #fb994987;
  // border: 1px solid #2a597763;
  // box-sizing: border-box;
  // box-shadow: inset 0 0px 2px rgb(47 47 47 / 58%);
}

ion-item.item.md.item-lines-none.item-fill-none.in-list.ion-activatable.ion-focusable.hydrated.item-label.selected ion-icon {
  color: #f5fff7;
}
.menu_bar{
 --background:#fb6f2f url('../assets/sidmenu.png') 0 0 no-repeat !important;
}
