<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app [style]="top">

  <ion-split-pane contentId="main-content">

    <ion-menu *ngIf="current_user" (ionWillOpen)="open()"  contentId="main-content" type="overlay" >

      <ion-content>
        <ion-list id="inbox-list">
          <div class="spinner" *ngIf="!profile">
            <ion-spinner name="dots" color="primary"></ion-spinner>


          </div>

          <div class="profile" *ngIf="profile">
            <div>
              <img src="{{profile.img}}" alt="">
            </div>
            <div>
              <h2>{{profile.name}}</h2>
              <a href="tel:`${profile.mobile}`">{{profile.mobile}}</a>
            </div>
          </div>

          <ion-menu-toggle  class="menus" auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="full"
             routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" name="{{p.icon}}"></ion-icon> &nbsp;
              <!-- <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
        <ion-button color="danger" (click)="logout()" expand="full" > Logout</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <div *ngIf="fingerprint">
    {{fingerprint}}
  </div>
</ion-app>
