
.main_icons {
  padding: 0 15px 10px;
  display: flex;
  flex-flow: column;
}

.main_icons> .dash_single {
    margin-bottom: 17px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(26 0 0 / 29%);
    background: white;
    overflow: hidden;
 }

.dash_single>a {
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.dash_single>a p {
    margin: 0 0 7px;
    color: #000;
    font-size: 14px;
}

.dash_single>a p:first-child {
    font-weight: bold;
    color: #408549;
    font-size: 15px;
}
.dash_single a {
    position: relative;
    overflow: hidden;

}

.dash_single a:after {
    content: "";
    width: 128px;
    height: 95px;
    background:linear-gradient(45deg, #53be77, #79d97c);
    position: absolute;
    transform: rotate(56deg);
    left: -39px;
    border-radius: 15px;
}

.dash_single a div {
    position: relative;
    z-index: 99;
}
.transfer_rew .inner {
    background: #edf7ff;
    margin: 0 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0202021c;
    border: 1px solid #dddddd;
}

.transfer_rew> .inner h3 {
    margin: 0 0 6px;
    padding: 0 0 8px;
    color: #5fc778;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.transfer_rew> .inner h3:after {
    content: "";
    border-bottom: 1px solid #c7c7c7;
    width: calc(100% + 30px);
    position: absolute;
    left: -15px;
    bottom: 0;
}



.transfer_rew .inner>div >div {
    position: relative;
    padding-left: 76px;
    font-size: 14px;
    margin-bottom: 5px;
}

.transfer_rew .inner>div >div >span {
    position: absolute;
    width: 79px;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.transfer_rew .inner>div >div.pending {
    color: #FF9800;
}
