<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="main_bg">
  <div *ngIf="pendig_data" class="transfer_rew">
    <h1 class="main_title">Transfer Pending Request</h1>
    <div class="inner">
        <div *ngFor="let item of pendig_data">
          <h3>{{item.bank_detail}}</h3>
          <div><span>Amount</span> {{item.amount | currency:'INR' }}</div>
          <div><span>Dated</span> {{item.created_at | date }}</div>
          <div class="pending"><span>Status</span> {{item.status | uppercase }}</div>
        </div>
    </div>
  </div>

  <h1 class="main_title">Services</h1>
  <div class="list_of_services">
      <div *ngIf="services" class="main_icons">

        <div *ngFor="let item of services.data" class="dash_single">
          <a (click)="sendService(item.id, item.ac_type)">

            <div [ngSwitch]="item.ac_type">
              <div *ngSwitchCase="'Saving'">
               <img src="./../../../assets/icon/savings.png" alt="">
              </div>
              <div *ngSwitchCase="'RD'">
               <img src="./../../../assets/icon/donation.png" alt="">
              </div>
              <div *ngSwitchCase="'FD'">
               <img src="./../../../assets/icon/deposit.png" alt="">
              </div>
              <div *ngSwitchCase="'Personal Loan'">
               <img src="./../../../assets/icon/loan.png" alt="">
              </div>
              <div *ngSwitchCase="'Property Loan'">
               <img src="./../../../assets/icon/real-estate.png" alt="">
              </div>
              <div *ngSwitchCase="'Gold Loan'">
               <img src="./../../../assets/icon/gold.png" alt="">
              </div>
              <div *ngSwitchCase="'Deposit Loan'">
               <img src="./../../../assets/icon/money.png" alt="">
              </div>

              <div *ngSwitchDefault></div>
            </div>

            <div>
              <!-- {{item |json}} -->
              <p>{{item.ac_type}}</p>
              <p>A/C No:. {{item.account_number}}</p>

            </div>
          </a>
        </div>
      </div>
  </div>

</ion-content>




